body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
    

    h1{
        font-size: 50px;
    }
    h2{
        font-size: 40px;
    }
    .orange-color{
        color: orange;
    }
    .tagline{
        color: crimson;
    }
    .o-letter{
        font-size: 70px;
        color: rgb(255, 0, 0);
        border-block: 10px  solid ;
    }
    .hire{
       
        background-image:linear-gradient(90deg, rgba(255,145,145,0.9444152661064426) 0%, rgba(255,67,67,1) 100%);
        padding: 10px 40px;
        border-radius: 4px;
        text-decoration: none;
        color: rgb(255, 255, 255);
       font-weight: 600;
    }
    .flex{
       display: flex;
   }
   .half-width{
       width: 50%;
       padding-left: 3%;
   }
   .half-width img{
       width: 70%;
       margin-left: 10%;
       margin-top: 5%;}

   .banner1{
       background-image: url( top-banner.png);
       background-repeat: no-repeat;
       
   }
   .sec2margin{
       margin-top: 100px;
   }
   .banner2{
       background-image: url(dream-bg.png);
       background-repeat: no-repeat;
       background-position: right;
       margin-left: 5%;
   }
   .dreammrg{
       margin-right: 5%;
   }
   .half-width2{
    width: 40%;
    padding-left: 3%;
    }

    .half-width2 img{
        width: 90%;
        padding-right: 17%;
        margin-top: 5%;
    }
    .experience-area{

        background-image: url(exp-bg.png);
        background-repeat: no-repeat;
        background-position-y: 120px;
    }
    .experience-item{
        width: 40%;
        margin-left: 5%;
        margin-right: 5%;
        margin-bottom: 5%;
    
        border-radius: 10px;
        box-shadow:5px 5px 40px black;
        padding: 0 0 0 20px;
    }
    .border1{
      border-left: 5px solid;
        border-image: linear-gradient(rgb(255, 85, 85),rgb(255, 76, 76));
        border-image-slice: 1;
    }
    .border2{
        border-left: 5px solid;
       
        border-image: linear-gradient(blue,cyan);
         border-image-slice: 1;
    }
    footer p{
        text-align: center;
    }
   
    .hover a{
        border: 1px solid;
        border-radius: 5px;
        margin-bottom: 40px;
        margin-left: 510px;
        text-decoration: none;
        
        color: rgb(255, 7, 7);
    }
    .hover a:hover{
        background-color: rgb(247, 5, 5);
        color: white;
    }